<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="HelloWorld" class="com.gc.action.HelloWorld" destroy-method="cleanup">
	<property name="msg">
	<value>HelloWorld</value>
	</property>
	<property name="date">
	<ref bean="date"></ref>
	</property>
</bean>
<bean id="date" class="java.util.Date"></bean>
<bean id="Hello" class="com.gc.action.EnHello">
	<property name="msg">
	<value>colin</value>
	</property>
</bean>
<bean id="constructorIoc" class="com.gc.action.ConstructorIoc" scope="singleton">
	<constructor-arg index="0">
	<value>Hello Constructor IOC</value>
	</constructor-arg>
</bean>
<bean id="HelloList" class="com.gc.action.HelloList">
<property name="msg">
<list>
<value>gf</value>
<value>gd</value>
<value>hellolist</value>
</list>
</property>
</bean>
<bean id="HelloSet" class="com.gc.action.HelloSet">
<property name="map">
<set>
<value>gf</value>
<value>gd</value>
<value>Hellomap</value>
</set>
</property>
</bean>
<bean id="HelloMap" class="com.gc.action.HelloMap">
<property name="map">
<map>
<entry key="gf">
<value>Hi gf</value>
</entry>
<entry key="gd">
<value>Hi gd</value>
</entry>
</map>
</property>
</bean>
<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
<property name="basename">
<value>messages</value>
</property>
</bean>
<bean id="log" class="com.gc.action.Log">
</bean>
<bean id="listener" class="com.gc.action.LogListener"></bean>
<bean id="listener2" class="com.gc.action.LogListener"></bean>
<bean id="logAround" class="com.gc.action.LogAround" ></bean>
<bean id="timeBook" class="com.gc.action.TimeBook" ></bean>
<bean id="logProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="proxyInterfaces">
<value>
com.gc.action.TimeBookInterface
</value>
</property>
<property name="target">
<ref bean="timeBook"></ref>
</property>
<property name="interceptorNames">
<list>
<value>logAround</value>
</list>
</property>
</bean>
<bean id="finace" class="com.gc.action.Finance"></bean>
<bean id="logProxy1" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="proxyInterfaces">
<value>
com.gc.action.FinanceInterface
</value>
</property>
<property name="target">
<ref bean="finace"></ref>
</property>
<property name="interceptorNames">
<list>
<value>logAround</value>
</list>
</property>
</bean>
<bean id="logBefore" class="com.gc.action.LoggerBefore"></bean>
<bean id="logBeforeAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
<property name="advice">
<ref bean="logBefore"></ref>
</property>
<property name="pattern">
<value>.*doAuditing.*</value>
</property>
</bean>
<bean id="logProxy2" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="proxyInterfaces">
<value>
com.gc.action.TimeBookInterface
</value>
</property>
<property name="target">
<ref bean="timeBook"></ref>
</property>
<property name="interceptorNames">
<list>
<value>logBeforeAdvisor</value>
</list>
</property>
</bean>
</beans>